footer.footer.section
            .wrapper
                .footer__content
                    .footer__left
                        
                    .footer__right
                        
                    