header.header
    .wrapper
        .header__content
            .header__left
                .header__logo
                    img(src="./images/logo.png", alt="") 
                .header__menu
                    .header__menu_item
                        a(href="https://digitalcontact.com/capabilities/ ") Modules              
                    .header__menu_item
                        a(href="javascript: void(0);").menu_item Company   
                    .header__menu_item
                        a(href="https://digitalcontact.com/contact/") Contact us 

            .header__right
                
            .header__burger.burger
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 49 24', enable-background='new 0 0 49 24', xml:space='preserve')
                    path(d='M1.1,3.5C0.5,3.5,0,3,0,2.4V1.7c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M1.1,13.8c-0.6,0-1.1-0.5-1.1-1.1V12c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M16.2,24c-0.6,0-1.1-0.5-1.1-1.1v-0.6c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.6 c0,0.6-0.5,1.1-1.1,1.1H16.2z')
            

            //- .adaptmenu
            //-         .adaptmen__close.close
            //-             img(src="./images/close.png", alt="")
            //-         .adaptmenu__content
                       
            //-             .adaptmenu__item
            //-                 a(href="#") Modules  
            //-             .adaptmenu__item
            //-                 a(href="#") Company  
            //-             .adaptmenu__item
            //-                 a(href="#") About us
            //-             .adaptmenu__item
            //-                 a(href="#") Career
            //-             .adaptmenu__item
            //-                 a(href="#") Legal 
            //-             .adaptmenu__item
            //-                 a(href="#")  Contact us 
