.modalDialogCustom
    .shadow_popap

    .contentpopap 

        .contentpopap__head
            .contentpopap__title
                span Leave your contact details.

        form.contentpopap__form
            
            .contentpopap__blockinputs
                input.inp_name#idi(type="text" placeholder="Your Name" required)
                input.inp_mail(type="email" placeholder="Your Email" required)
                    
                    
            .contentpopap__button
                button.button(type="submit") Send

        .contentpopap__close


