.modalDialogCustom
    .shadow_popap
    .contentpopap 
        p.contentpopap__title Niestety twoja odpowiedź
            br
            | jest 
            span
                |nieprawidłowa.
        span.contentpopap__text Spróbuj ponownie

        .contentpopap__close




.modalDialogCustom.modalDialogCustom2
    .shadow_popap
    .contentpopap 
        p.contentpopap__title 
            span 
                |Brawo!
            br
            | Wykonałeś zadanie. Twój kod promocyjny to  
            span
                | EASTER2020.
        span.contentpopap__text Wpisz go opłacając za abonament i
            br
            |uzyskaj rabat -15%.

        .contentpopap__close


