.sect1{
    background-color: #B1CDED;
    position: relative;

    &__top{
        background-image: url("../images/bg_d.svg");
        background-size: cover;
        padding: rem(45) rem(150) rem(117);
    }

    &__title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: rem(40);
        line-height: rem(49);
        text-align: center;
        text-transform: uppercase;
        color: #161C2F;
    }

    &__text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: rem(40);
        line-height: rem(49);
        text-align: center;
        color: #161C2F;
    }

    &__middle{
        position: relative;
        z-index: 1000;
    }

    &__bottom{
        text-align: center;
        padding-bottom: rem(118);
        position: relative;
        z-index: 1000;
    }

    &__button{
        background: #FFFFFF;
        box-shadow: 0 rem(4) rem(40) rgba(0, 0, 0, 0.25);
        border-radius: rem(10);
        width: rem(554);
        height: rem(105);
        border: none;
        cursor: pointer;
        outline: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: rem(50);
        line-height: rem(61);
        color: #161C2F;
        transition: .06s;
        &:hover{
            transform: scale(1.02);
            transition: .06s;
        }
        &:active{
            transform: scale(1);
            transition: .06s;
        }
    }

    &__planeta{
        position: absolute;
        bottom: rem(-37);
        left: rem(-130);
        width: rem(803);
        height: rem(803);
    }

    &__zayats{
        width: rem(282.71);
        height: rem(244);
        position: absolute;
        bottom: 0;
        right: rem(78);
    }

    &__vetki2, &__vetki3{
        display: none;
    }
}

.rebus{
    padding: rem(39) rem(130) rem(105) rem(110);
    display: flex;
    justify-content: space-between;

    &__right{
        padding-top: rem(36);
    }

    &__eggs{
        width: rem(641);
        height: rem(643);
    }
}

.castle{
    display: flex;
    align-items: flex-end;
    width: rem(397.21);
    height: rem(462.72);
    position: relative;
    padding-left: rem(51);
    padding-bottom: rem(25);

    &__img{
        position: absolute;
        bottom: rem(-32);
        left: rem(-32);
        z-index: 1000;
        width: rem(448);
        height: rem(523);
    }

    &__vetki{
        width: rem(238);
        height: rem(299);
        position: absolute;
        top: rem(15);
        right: rem(-117);
    }

    &__block{
        width: rem(304);
        height: rem(212);
        background: #333333;
        border-radius: rem(1);
        position: relative;
        z-index: 2000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(37);
    }
}

.quantity{
    position: relative;

    &__input{
        width: rem(103.92);
        height: rem(148.11);
        background: linear-gradient(180deg, #FDFDFD 15%, #EEEEEE 16%, #E5E5E5 18%, #E2E2E2 20%, #E2E2E2 27%, #E2E2E2 82%, #B5B4B3 83%, #9A9997 84%, #858481 85%, #767572 87%, #6E6C69 88%, #6B6966 90%, #545250 100%);
        border: none;
        padding-bottom: rem(10);
        font-family: Mali;
        font-style: normal;
        font-weight: 700;
        font-size: rem(100);
        line-height: rem(104);
        text-align: center;
        color: #303030;
        outline: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type=number]
    {
    -moz-appearance: textfield;
    }
}

.quantity-button{
    position: absolute;
    width: rem(54);
    height: rem(36);
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.quantity-up{ 
    background-image: url("../images/plus.svg");
    top: rem(-35);
}

.quantity-down{
    background-image: url("../images/minus.svg");
    bottom: rem(-35);
}


@media screen and (max-width:769px){
    .sect1{
        &__top{
            padding: rem(23) 0 rem(63) 0; 
        }

        &__title, &__text{
            font-size: rem(22);
            line-height: rem(27);
        }

        &__middle{
            padding-bottom: rem(57.28);
        }

        &__bottom{
            padding-bottom: rem(282);
        }

        &__button{
            width: rem(383);
            height: rem(79);
            font-size: rem(35);
            line-height: rem(43);
        }

        &__planeta{
            width: rem(694);
            height: rem(694);
            top: rem(201.4);
            left: rem(-85);
        }

        &__zayats{
            bottom: 0;
            left: rem(54);
        }

        &__vetki2, &__vetki3{
            display: block;
            position: absolute;
        }

        &__vetki2{
            width: rem(258);
            height: rem(297.94);
            top: rem(193);
            right: rem(-124);
        }

        &__vetki3{
            width: rem(283.11);
            height: rem(326.94);
            bottom: rem(-26);
            right: 0;
        }
    }

    .rebus{
        flex-direction: column;
        padding: 0;

        &__left{
            padding: rem(28.4) 0 0 0;
            text-align: center;
        }

        &__right{
            padding: rem(53) 0 0 0;
            display: flex;
            justify-content: center;
        }

        &__eggs{
            width: rem(548);
            height: rem(549.16);
        }
    }

    .castle{
        &__vetki{
            left: -67%;
            top: rem(200);
        }
    }
}


@media screen and (max-width:450px){
    .sect1{
    
        &__top{
            background-image: url("../images/bg_m.svg");
            // background-size: cover;
            padding: rem(50) 0 rem(73) 0;
        }

        &__title, &__text{
            font-size: rem(26);
            line-height: rem(39);
        }

        &__middle{
            padding-top: rem(74);
        }

        &__vetki2{
            top: rem(950);
        }

        &__vetki3{
            display: none;
        }

        &__planeta{
            top: rem(329.4);
            left: rem(-133);
        }

        &__zayats{
            right: rem(48);
            left: unset;
        }
    }

    .rebus{
        padding: 0 rem(25);

        &__left{
            padding: rem(38) 0 0 0;
        }

        &__eggs{
            width: 100%;
            height: auto;
        }
    }

    .castle{
        width: rem(640);
        height: rem(638);
        padding: 0;

        &__img{
            width: rem(608);
            height: rem(683.2);
            left: unset;
        }

        &__block{
            bottom: rem(40);
            width: rem(432);
            left: rem(102.4);
            height: rem(272);
            padding: 0 rem(53);
        }

        &__vetki{
            top: rem(688);
            left: rem(-176);
        }
    }


        
    .quantity{
        position: relative;

        &__input{
            width: rem(135.92);
            height: rem(196.11);
            font-size: rem(132);
            line-height: rem(136);
            padding-bottom: rem(20);
            padding-right: rem(4.4);
        }
    }

    .quantity-button{
        width: rem(70);
        height: rem(52);
    }

    .quantity-up{ 
        background-image: url("../images/plus.svg");
        top: rem(-41.4);
    }

    .quantity-down{
        background-image: url("../images/minus.svg");
        bottom: rem(-44.6);
    }


}