block varibles

doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="ie-edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet", href="./styles/app.min.css?1")
        
         
        
    
    body
        block content 
        script(src="./dist/js/jquery-3.2.1.min.js?1")
        script(src='./scripts/app.js?1')