              //em
// $browser-context: 16;

// @function em($pixels, $context: $browser-context) {
//     @return #{$pixels/$context}em;
//   }

  

          // placeholder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
      @content;
  }
}


@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
      @content;
  }

  @include optional-at-root(':-moz-placeholder') {
      @content;
  }

  @include optional-at-root('::-moz-placeholder') {
      @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
      @content;
  }
}



            //rem
$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}