
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// my style

*{
    transition:all .1s ease-in-out
}

html{
    font-size: 1.1429vw;
}

@media screen and (max-width:769px){
    html{
        font-size: 2.083vw;
    }
}

.content{
    overflow: hidden;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.eot"), 
    url("../fonts/Montserrat-Regular.ttf") format("truetype"), 
    url("../fonts/Montserrat-Regular.woff") format("woff"), 
    url("../fonts/Montserrat-Regular.woff2") format("woff2"), 
    url("../fonts/Montserrat-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal; 
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.eot"), 
    url("../fonts/Montserrat-Bold.ttf") format("truetype"), 
    url("../fonts/Montserrat-Bold.woff") format("woff"), 
    url("../fonts/Montserrat-Bold.woff2") format("woff2"), 
    url("../fonts/Montserrat-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700; 
}


@font-face {
    font-family: Mali;
    src: url("../fonts/Mali-Bold.eot"), 
    url("../fonts/Mali-Bold.ttf") format("truetype"), 
    url("../fonts/Mali-Bold.woff") format("woff"), 
    url("../fonts/Mali-Bold.woff2") format("woff2"), 
    url("../fonts/Mali-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700; 
}