.modalDialogCustom{
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: rgba($color: #000000, $alpha: 0);
    transition: .5s;
    
}

.modalDialogCustom_active{
    transform: translateY(0);
    transition: .5s;
}

.shadow_popap{
    background-color: #38373b;
    opacity: 0.5;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;

}


                                                               // content
.contentpopap{
    background-color: white;
    position: absolute;
    top: rem(400);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: rem(800);
    box-shadow: 0px 0px rem(60) rgba(0, 0, 0, 0.5);
    border-radius: rem(20);
    padding: rem(48) 0 rem(56) 0;
    text-align: center;

    &__title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: rem(40);
        line-height: rem(49);
        color: #161C2F;
        margin-bottom: rem(40);
        span{
            text-transform: uppercase;
            color: #EA3030;
            font-weight: 700;
        }
    }

    &__text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: rem(40);
        line-height: rem(49);
        color: #161C2F;
    }

    &__close{
        position: absolute;
        top: rem(30);
        right: rem(30);
        width: rem(34);
        height: rem(34);
        background-image: url("../images/close.svg");
        background-size: cover;
        
    }
}


.modalDialogCustom2{
    .contentpopap__title{
        span{
            font-weight: 700;
            color: #161C2F;
            &:first-child{
                color: #A7C32B;
            }
        }
    }
    .contentpopap__text{
        font-weight: 700;
        font-size: rem(35);
        line-height: rem(43);
    }
}


@media screen and (max-width:769px){
    .contentpopap{
        width: rem(540);
        padding: rem(40) 0 rem(40) 0;

        &__close{
            position: absolute;
            width: rem(24);
            height: rem(24);
        }

        &__title{
            font-size: rem(30);
            line-height: rem(37);
        }

        &__text{
            font-size: rem(30);
            line-height: rem(37);
        }
    }

    .modalDialogCustom2{
        .contentpopap__text{
            font-size: rem(20);
            line-height: rem(24);
        }
    }
    
}